<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CrewNode</title>
    <link rel="stylesheet" media="all" href="/assets/crewnode.css?v0.0.2" />
    <link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Poppins:700" />
    <link rel="stylesheet" media="all" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" type="image/png" href="/assets/crewnode-logo.real.png" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
  </head>
  <body>
    <div class="wrapper">
      <img draggable="false" src="/assets/crewnode-logo.png?v0.0.2" />
      <h1>crew<span class="red">node</span></span></h1>
      <p>{{ errorMessage|default("error") }}</p>
      <div class="icons">
        <a draggable="false" href="/"><i class="fa fa-home"></i></a>
      </div>
    </div>
  </body>
</html>